<div class="flex flex-col items-center justify-center text-center px-4"
     role="status" aria-label="No projects found">


  <img src="../../../../assets/empty.png" alt="empty_state"class="mt-6 w-[288px] h-[288px]" />

  <h2 class="text-[1.75rem] font-bold mt-5 mb-3 text-[var(--color-text-body)]">
    No Projects
  </h2>
  <p class=" max-w-sm leading-relaxed font-semibold text-[var(--color-text-secondary)]">
    You don't have any projects yet. Start by defining your first architectural workspace
    to begin tracking tasks and epics.
  </p>

  <button type="button" (click)="create.emit()"
          class="btn btn-primary w-auto px-8 mt-8 gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    Create New Project
  </button>

</div>