<header
  class="sticky top-0 z-50 bg-[var(--color-background)] h-[80px] py-[40px] flex items-center justify-between opacity-100 mx-auto w-[1280px] max-w-full"
  role="banner"
>
  <div class="flex items-center gap-2">
    <img src="../../../assets/logo.png" alt="Taskly Logo" class="h-[20px] w-[18px]" />
   <span class="text-[20px] font-bold leading-[28px] tracking-[-0.5px] text-[#041B3C] align-middle">
  TASKLY
</span>
  </div>
</header>

<main
  class="min-h-screen flex items-center justify-center px-4 py-5"
  role="main"
  aria-label="Authentication"
>
  <div
    class="w-full max-w-[567px] rounded-[10px] bg-[var(--color-surface)]"
    style="box-shadow: var(--shadow)"
  >    <div class="px-10 pt-10 pb-8">
      <router-outlet />
    </div>
  </div>
</main>